
/*headery*/

h1{
    text-align: center;
    font-size: 48px;
}

h2{
    text-align: center;
    font-size: 24px;
}

/*text*/


/*div*/
.head {
    margin-top: -20px;
    padding: 10px 0px;  
    background-color: #225560;
    align-items: center;
    color: white;
    text-align: center;
}

.footer{
    margin-top: 50px;
    padding: 5px 0px;
    background-color:#225560 ;
    align-items: center;
    color: white;
    text-align: center;
}

.menu {
    text-align: left;
    padding: 10px 0px;
    background-color:#FFFFDD;
    position:sticky;
}
.menu_neco {
    margin-left: 100px;
}

/*linky*/

a:link, a:visited {
    background-color: #339999;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

  }
  
  a:hover, a:active {
    color:#c4c4c4;
    background-color:#225560 ;
    outline-color:#225560;
    outline-width: 2px;
    outline-style: solid;
    
  }

  a.two{
    color: white;
    background-color: #225560;
  }



  /*IDK z chat bota*/

  /*Oddělení každé položky a vypsání do řádků*/
  .product_list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center; /*směrování na střed*/
}

.product {
    outline-color: #225560;
    outline-width: 4px;
    outline-style: solid;
    margin: 50px;
    width: 400px;
    text-align: center;
    align-items: center;
}

.product img {
    margin: 10px;
    max-width: 400px;
    max-height: 250px;
}

.cena {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.clickable-image img {
    border: 4px solid #225560;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.clickable-image img:hover {
    transform: scale(1.2); /* Zvětší obrázek při najetí myší */
}


main {
    padding: 20px;
}


/*styl uživatele*/
.user-info {
    text-align: 100;
    position: absolute;
    top: 10px;
    right: 100px;
    font-size: 18px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}



/*responzibilita*/
@media screen and (max-width: 800px) {
    .user-info{
        display: none;
    }
    .ekea{
        display:none;
    }
}